# Ignore all node_modules folders in any directory
**/node_modules/

# Ignore all generated log files in any subdirectory
**/npm-debug.log

# Ignore all .env files in any subdirectory
**/.env

# Ignore build artifacts from all projects
**/dist/
**/build/